on:
  pull_request:
    types: [synchronize, reopened, labeled]

jobs:
  ai-review:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: AI Code Guard
        uses: salehhashemi1992/ai-code-guard@769ff29bf912ecf13a432773cb8bbd076b850207
        with:
          github-token: ${{ secrets.TOKEN }}
          openai-api-key: ${{ secrets.OPENAI_API_KEY }}